@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;

	/*
	background-image: url("/bg.jpg")
	*/

	
	background: rgb(218, 174, 81);
	background: -moz-linear-gradient(90deg, rgba(218,174,81,1) 0%, rgba(213,51,105,1) 50%, rgba(218,174,81,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(218,174,81,1) 0%, rgba(213,51,105,1) 50%, rgba(218,174,81,1) 100%);
	background: linear-gradient(90deg, #daae51 0%, #d53369 50%, rgba(218,174,81,1) 100%);
	
}

.myButton{
	border: none;
	padding: 6px 12px;

	font-family: 'Raleway', sans-serif;
	border-radius: 15px;
	font-size: 1.7em;
}

.frosted{
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.05);
    background-color: rgba(255, 255, 255, 0.2);
  	backdrop-filter: blur(15px) saturate(100%);
}

.frosted:hover{
	box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.05);
	background-color: rgba(255, 255, 255, 0.25);
  	backdrop-filter: blur(30px) saturate(100%);

	cursor: pointer;
}

.right{
	float: right;
}

.left{
	float: left;
}

/* slider stuff */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	/*background-color: white; */
	background-color: rgba(255, 255, 255, 0.5);
  	backdrop-filter: blur(2px) saturate(100%);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	  background: rgb(213,51,105);
	  background: -moz-linear-gradient(90deg, rgba(213,51,105,1) 0%, rgba(218,174,81,1) 100%);
	  background: -webkit-linear-gradient(90deg, rgba(213,51,105,1) 0%, rgba(218,174,81,1) 100%);
	  background: linear-gradient(90deg, rgba(213,51,105,1) 0%, rgba(218,174,81,1) 100%);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }